In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn.linear_model import LinearRegression

In [2]:
data = pd.read_csv('income-rent.csv')
data

   income  rent
0    2300   950
1    1400   500
2    2400  1000
3    5250  1800
4    4375  1600
5    1800   600
6    1500   500
7    1600   600
8    4150  1800
9    4500  1750

In [3]:
x = data[['income']]
y = data[['rent']]

In [4]:
x

   income
0    2300
1    1400
2    2400
3    5250
4    4375
5    1800
6    1500
7    1600
8    4150
9    4500

In [7]:
model = LinearRegression()
model.fit(x,y)

LinearRegression()

In [8]:
df = pd.read_csv('property-price.csv')
df

   area  bedroom  age   price
0  2600      3.0   20  550000
1  3000      4.0   15  565000
2  3200      3.5   18  610000
3  3600      3.0   30  505000
4  4000      5.0    8  760000
5  3400      4.0   10  600000
6  2150      3.0    7  500000
7  1000      2.0    1  520000

In [9]:
X = df[['area','bedroom','age']]
Y = df[['price']]

In [10]:
X

   area  bedroom  age
0  2600      3.0   20
1  3000      4.0   15
2  3200      3.5   18
3  3600      3.0   30
4  4000      5.0    8
5  3400      4.0   10
6  2150      3.0    7
7  1000      2.0    1

In [11]:
Y

    price
0  550000
1  565000
2  610000
3  505000
4  760000
5  600000
6  500000
7  520000

In [12]:
model = LinearRegression()
model.fit(X,Y)

LinearRegression()

In [13]:
model.coef_

array([[   46.40850192, 40038.14213182, -4571.64914713]])

In [15]:
model.intercept_

array([367773.21618027])

In [17]:
model.predict([[3800,2.5,10]])

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([[598504.38731897]])

In [18]:
predictions = model.predict(X)
predictions

array([[517116.76461446],
       [598576.5532483 ],
       [574124.23512418],
       [517808.77505906],
       [717024.74132596],
       [639998.19975033],
       [555664.37766501],
       [489686.35321269]])

In [19]:
df['Pred']= np.round(predictions,1)
df

   area  bedroom  age   price      Pred
0  2600      3.0   20  550000  517116.8
1  3000      4.0   15  565000  598576.6
2  3200      3.5   18  610000  574124.2
3  3600      3.0   30  505000  517808.8
4  4000      5.0    8  760000  717024.7
5  3400      4.0   10  600000  639998.2
6  2150      3.0    7  500000  555664.4
7  1000      2.0    1  520000  489686.4

In [21]:
from sklearn.metrics import r2_score

In [23]:
r2_score(df['price'],df['Pred'])*100

77.90116021151228

In [34]:
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn.linear_model import LogisticRegression

In [35]:
data = pd.read_csv('insurance.csv')
data

    age  insurance
0    22          0
1    25          0
2    47          1
3    52          0
4    46          1
5    56          1
6    63          0
7    60          1
8    62          1
9    61          1
10   18          0
11   28          0
12   27          0
13   29          0
14   49          1
15   23          0
16   35          0
17   55          1
18   54          0
19   48          1
20   58          1
21   45          0
22   66          1
23   65          1
24   59          1
25   20          0
26   31          0
27   33          0
28   39          0
29   50          1

In [37]:
X = data[['age']]
Y = data[['insurance']]

In [38]:
X

    age
0    22
1    25
2    47
3    52
4    46
5    56
6    63
7    60
8    62
9    61
10   18
11   28
12   27
13   29
14   49
15   23
16   35
17   55
18   54
19   48
20   58
21   45
22   66
23   65
24   59
25   20
26   31
27   33
28   39
29   50

In [39]:
Y

    insurance
0           0
1           0
2           1
3           0
4           1
5           1
6           0
7           1
8           1
9           1
10          0
11          0
12          0
13          0
14          1
15          0
16          0
17          1
18          0
19          1
20          1
21          0
22          1
23          1
24          1
25          0
26          0
27          0
28          0
29          1

In [42]:
model = LogisticRegression()
model.fit(X,Y)

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\utils\validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression()

In [43]:
model.coef_

array([[0.16759302]])

In [44]:
model.intercept_

array([-7.93581903])

In [45]:
predictions = model.predict(X)
data['Pred'] = predictions
data

    age  insurance  Pred
0    22          0     0
1    25          0     0
2    47          1     0
3    52          0     1
4    46          1     0
5    56          1     1
6    63          0     1
7    60          1     1
8    62          1     1
9    61          1     1
10   18          0     0
11   28          0     0
12   27          0     0
13   29          0     0
14   49          1     1
15   23          0     0
16   35          0     0
17   55          1     1
18   54          0     1
19   48          1     1
20   58          1     1
21   45          0     0
22   66          1     1
23   65          1     1
24   59          1     1
25   20          0     0
26   31          0     0
27   33          0     0
28   39          0     0
29   50          1     1

In [46]:
data[data['insurance'] != data['Pred']]

    age  insurance  Pred
2    47          1     0
3    52          0     1
4    46          1     0
6    63          0     1
18   54          0     1

In [47]:
from sklearn.metrics import accuracy_score
accuracy_score(data['insurance'], data['Pred'])

0.8333333333333334

In [48]:
import numpy as np
import pandas as pd
import seaborn as sns

In [49]:
df = pd.read_csv('marks.csv')
df

    Maths  CS Result
0       4   3   Fail
1       6   7   Pass
2       7   8   Pass
3       5   5   Fail
4       8   8   Pass
5       4   3   Fail
6       2   1   Fail
7       6   9   Pass
8       4   3   Fail
9       9   9   Pass
10      7   9   Pass
11      3   2   Fail
12      6   6   Pass
13      8   9   Pass

In [54]:
X = df[['Maths','CS']]
Y=df[['Result']]

In [55]:
X

    Maths  CS
0       4   3
1       6   7
2       7   8
3       5   5
4       8   8
5       4   3
6       2   1
7       6   9
8       4   3
9       9   9
10      7   9
11      3   2
12      6   6
13      8   9

In [56]:
Y

   Result
0    Fail
1    Pass
2    Pass
3    Fail
4    Pass
5    Fail
6    Fail
7    Pass
8    Fail
9    Pass
10   Pass
11   Fail
12   Pass
13   Pass

In [57]:
from sklearn.neighbors import KNeighborsClassifier
model = KNeighborsClassifier(n_neighbors=5)
model.fit(X,Y)

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\neighbors\_classification.py:215: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

KNeighborsClassifier()

In [58]:
predictions = model.predict(X)
df['pred'] = predictions
df

    Maths  CS Result  pred
0       4   3   Fail  Fail
1       6   7   Pass  Pass
2       7   8   Pass  Pass
3       5   5   Fail  Fail
4       8   8   Pass  Pass
5       4   3   Fail  Fail
6       2   1   Fail  Fail
7       6   9   Pass  Pass
8       4   3   Fail  Fail
9       9   9   Pass  Pass
10      7   9   Pass  Pass
11      3   2   Fail  Fail
12      6   6   Pass  Pass
13      8   9   Pass  Pass

In [59]:
model.predict([[4,5]])

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  warnings.warn(

array(['Fail'], dtype=object)

In [60]:
from sklearn.metrics import accuracy_score
accuracy_score(df['Result'],df['pred'])

1.0